/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        cp_to_desk {
            bindings = <&kp LG(LS(NUMBER_4))>;
            key-positions = <5>;
            layers = <1>;
        };

        cp_to_clip {
            bindings = <&kp LS(LG(LC(NUMBER_4)))>;
            key-positions = <4>;
            layers = <1>;
        };
    };

    macros {
        splitH: splitH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp DOUBLE_QUOTES>;
            label = "SPLITH";
        };

        splitV: splitV {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp PERCENT>;
            label = "SPLITV";
        };

        resizeD: resizeD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp COLON &kp R &kp E &kp S &kp I &kp Z &kp E &kp P &kp SPACE &kp MINUS &kp LS(D) &kp SPACE &kp N2 &kp N0 &kp RET>;
            label = "RESIZED";
        };

        resizeDS: resizeDS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp COLON &kp R &kp E &kp S &kp I &kp Z &kp E &kp P &kp SPACE &kp MINUS &kp LS(D) &kp SPACE &kp NUMBER_1 &kp NUMBER_2 &kp RET>;
            label = "RESIZEDS";
        };

        mUp: mUp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp K>;
            label = "MUP";
        };

        mDown: moveD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp J>;
            label = "MOVED";
        };

        mLeft: mLeft {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp H>;
            label = "MLEFT";
        };

        mRight: mRight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp L>;
            label = "MRIGHT";
        };

        cheat: cheat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp I>;
            label = "CHEAT";
        };

        vG: vG {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp LS(G)>;
            label = "VG";
        };

        vC: vC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp LS(C)>;
            label = "VC";
        };

        vR: vR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp LS(R)>;
            label = "VR";
        };

        vY: vY {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp LS(Y)>;
            label = "VY";
        };

        vL: vL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp LS(L)>;
            label = "VL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC     &kp AMPERSAND  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS                          &kp EQUAL  &kp ASTERISK  &kp RIGHT_PARENTHESIS  &kp PLUS  &kp RIGHT_BRACKET  &kp EXCLAMATION
&kp TAB     &kp SEMICOLON  &kp COMMA         &kp PERIOD      &kp P            &kp Y                                         &kp F      &kp G         &kp C                  &kp R     &kp L              &kp SLASH
&kp LCTRL   &kp A          &kp O             &kp E           &kp U            &kp I                                         &kp D      &kp H         &kp T                  &kp N     &kp S              &kp MINUS
&kp LSHIFT  &kp SQT        &kp Q             &kp J           &kp K            &kp X                 &kp DOLLAR    &kp HASH  &kp B      &kp M         &kp W                  &kp V     &kp Z              &kp RSHFT
                                             &kp LALT        &kp LGUI         &mo 1                 &kp SPACE     &kp RET   &mo 2      &kp BSPC      &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&trans   &trans   &trans   &trans  &trans  &trans                                &kp C_VOL_UP      &kp C_VOL_DN  &kp C_MUTE    &trans        &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS       &kp C_BRI_INC
&kp F12  &kp F11  &kp F10  &kp F9  &kp F8  &kp F7                                &kp C_NEXT        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS  &kp C_BRI_DN
&kp F6   &kp F5   &kp F4   &kp F3  &kp F2  &kp F1                                &kp C_PLAY_PAUSE  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT    &kp NON_US_BACKSLASH
&trans   &trans   &trans   &trans  &trans  &trans  &kp TILDE    &kp C_AC_SEARCH  &kp C_PREVIOUS    &kp N7        &kp N8        &kp N9        &trans                                  &trans
                           &trans  &trans  &trans  &trans       &trans           &kp N0            &kp MINUS     &kp COMMA
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&trans  &trans     &trans    &trans          &trans        &vL                                  &trans  &trans    &trans    &trans  &trans           &trans
&vY     &vy_small  &vR       &vC             &vG           &cheat                               &trans  &mLeft    &mRight   &trans  &kp RIGHT_ARROW  &trans
&trans  &resizeDS  &resizeD  &splitV         &splitH       &trans                               &mUp    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT        &trans
&trans  &trans     &trans    &kp DOWN_ARROW  &kp UP_ARROW  &kp UP_ARROW   &mLeft       &mRight  &mDown  &trans    &trans    &trans  &trans           &trans
                             &trans          &trans        &kp BACKSPACE  &kp ENTER    &trans   &trans  &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
